
@{
    ViewBag.Title = "Quản Lí Tài Khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row m-t-30" ng-controller="TaiKhoanController">
    <div class="col-md-12 mb-3">
        <button ng-click="onCreate()" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Thêm tài khoản</button>
    </div>

    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>Mã tài khoản</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Ngày tạo</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in table">
                        <td>{{item.MaTK}}</td>
                        <td>{{item.HoTen}}</td>
                        <td>{{item.Email}}</td>
                        <td>{{item.SDT}}</td>
                        <td>{{item.NgayTao.slice(6,19) | date}}</td>
                        <td>
                            <button ng-click="onEdit(item)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
        <!-- hiển thị phân trang ở đây -->
        <div class="phantrang" style="margin-left:400px">
            <ul uib-pagination
                items-per-page="pageSize" @*số bản ghi trên 1 trang*@
                total-items="rowCount" @*tổng số bản ghi*@
                ng-model="currentPage" @*trang hiện tại*@
                ng-change="pageChanged()" @*sự kiện khi ng dùng chuyển trang*@
                previous-text="&laquo;" @*cái dấu mũi tên lùi trang*@
                next-text="&raquo;" @*cái dấu mũi tên tiến trang*@></ul>
        </div>
    </div>
</div>

@section modals {
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle">{{ isCreate ? "Thêm tài khoản" : "Sửa tài khoản"}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" name="Email" ng-model="formModel.Email" required>
                            <div class="alert alert-danger mt-3" ng-show="isSubmited && form.Email.$error.required">Vui lòng nhập Email!</div>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Mật khẩu:</label>
                            <input type="text" class="form-control" name="MatKhau" ng-model="formModel.MatKhau" required>
                            <div class="alert alert-danger mt-3" ng-show="isSubmited && form.MatKhau.$error.required">Vui lòng nhập mật khẩu!</div>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Họ tên:</label>
                            <input type="text" class="form-control" name="HoTen" ng-model="formModel.HoTen" required>
                            <div class="alert alert-danger mt-3" ng-show="isSubmited && form.HoTen.$error.required">Vui lòng nhập mật khẩu!</div>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Số điện thoại:</label>
                            <input type="text" class="form-control" name="SDT" ng-model="formModel.SDT" required>
                            <div class="alert alert-danger mt-3" ng-show="isSubmited && form.SDT.$error.required">Vui lòng nhập số điện thoại nhà cung cấp!</div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button ng-click="onSubmit()" type="button" class="btn btn-primary">Đồng ý</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@section scripts {
    @*chèn link js của controller loại sp vào đây*@
    <script src="~/Scripts/Admin/TaiKhoanController.js"></script>
}

