
<footer>
    <div class="container">
        <div class="row" style="margin-top:-20px;margin-left:45px">
            <img src="~/Assets/image/logo1.png" alt="logo" style="width: 70px;">
        </div>
        <div class="row" style="margin-top:-10px">
            <div class="col-4">
                <p>Trung Hưng, Yên Mỹ, Hưng Yên</p>
                <p class="mb-3">Phục vụ khách hàng 24/7</p>
                <p>
                    <i class="fas fa-envelope"></i> <a href="mailto:trantu143444@gmail.com">trantu143444@gmail.com</a>
                </p>
                <p>
                    <i class="fas fa-phone-square-alt"></i> <a href="#">0372082758</a>
                </p>
                <p class="text-uppercase">
                    <i class="fas fa-check"></i> Cam kết chỉ bán hàng chính hãng, nói không với replica, fake...
                </p>
            </div>
            <div class="col-4">
                <h3>Thông tin Min Sneaker</h3>
                <p><a href="/Home/GioiThieu">Giới thiệu</a></p>
                <p><a href="/Home/LienHe">Điều khoản sử dụng</a></p>
                <p><a href="/Home/LienHe">Chính sách bảo mật</a></p>
                <p><a href="/Home/LienHe">Thông tin liên hệ</a></p>
            </div>
            <div class="col-4">
                <h3>Theo dõi chúng tôi tại</h3>
                <a href="https://www.facebook.com/tumin1404/" class="social-icon" target="_blank"><i class="fab fa-facebook-f" style="background-color:#4267b2;color:white"></i></a>
                <a href="https://twitter.com/Tu_Mindx" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/MinMusic" class="social-icon" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/tran_tu_1404/" class="social-icon" target="_blank"><i class="fab fa-instagram" style="background-color:#CD486B; color: white"></i></a>
                <p>
                    <a href="https://www.facebook.com/tumin1404/" class="btn btn-success" target="_blank">Liên hệ thiết kế</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2021 Min Sneaker. <a href="https://www.facebook.com/tumin1404/">Trần Ngọc Tú</a>
        </div>
    </div>
</footer>

<div class="scroll_top">
    <a href="#" id="uptop" class="social-icon"><i class="fa fa-arrow-up"></i></a>
</div>
