<li>
    <a href="/Admin/LoaiSanPham/Index">
        <i class="fa fa-cubes"></i>Quản lý Loại sản phẩm
    </a>
</li>
<li>
    <a href="/Admin/SanPham/Index">
        <i class="fa fa-cubes"></i>Quản lý Sản phẩm
    </a>
</li>
<li>
    <a href="/Admin/NhaCungCap/Index">
        <i class="fa fa-industry"></i>Quản lý Nhà cung cấp
    </a>
</li>
<li>
    <a href="/Admin/TaiKhoan/Index">
        <i class="fa fa-users"></i>Quản lý Tài khoản
    </a>
</li>
<li>
    <a href="/Admin/HoaDonBan/Index">
        <i class="fa fa-calendar" ></i>Quản lý Hóa đơn bán
    </a>
</li>