
@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container" ng-controller="DangNhapController">
    <div class="row">
        <div class="box-register">
            <div class="header">
                Đăng nhập
                <div class="line"></div>
            </div>
            <form name="form" class="form-control">
                <div class="input-icon">
                    <input type="text" name="Email" ng-model="formModel.Email" placeholder="Nhập Email..." required>
                    <i class="fa fa-envelope-o icon"></i>
                </div>
                <div class="input-icon">
                    <input type="password" name="MatKhau" ng-model="formModel.MatKhau" placeholder="Nhập mật khẩu..." required>
                    <i class="fa fa-lock icon"></i>
                </div>
                <button ng-click="onSubmit()" type="button" class="btn btn-success btn-block">Đăng Nhập</button>
            </form>
            <div class="footer">
                <div class="line"></div>
                <div class="row">
                    <div class="col-6 pr-2">
                        <a href="/" class="btn btn-block btn-warning"><i class="fa fa-arrow-left"></i> Quay lại trang chủ</a>
                    </div>
                    <div class="col-6 pl-2">
                        <a href="/Home/DangKy" class="btn btn-block btn-danger">Đăng Ký Tài khoản</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script src="~/Scripts/User/DangNhapController.js"></script>
}

