
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Assets/css/gioithieu.css">
<!-- featured section -->
<section id="sua-chua">
    <div class="write">
        <h1>Min Sneaker - CHất lượng đẳng cấp, phục vụ chu đáo</h1>
        <br>
        <h2>1.Lý do ra đời</h2>
        <br>
        <p>Min Sneaker ra đời dựa trên niềm yêu thích giày Nike, giày Adidas, giày Vans… của chủ shop bởi vẻ đẹp mê hoặc của các mẫu giày thời thượng này!</p>
        <br>
        <p>Phần trở ngại lớn ở đây là giá tiền của những đôi giày Nike hay Adidas chính hãng thì quá cao so với đa phần các bạn trẻ, vì thế mình đã tìm tòi và tạo ra Min Sneaker để nhằm đưa đến cho các bạn có niềm yêu thích những đôi giày cá tính này với một mức giá hấp dẫn kèm với chất lượng tốt nhất trong tầm giá.</p>
        <br>
        <p>Với tiêu chí mức giá hợp lý, vừa túi tiền nhưng chất lượng lại tốt hơn so với những gì các bạn lại bỏ ra, Giày Station hứa sẽ luôn luôn đưa đến chân của bạn chất lượng giày đảm bảo tốt nhất.</p>
        <br>
        <h2>2. Tiêu chí bán hàng</h2>
        <br>
        <p>Tiêu chí bán hàng tại Min Sneaker đó là làm hài lòng khách hàng tối đa!</p>
        <br>
        <p>&#9679; Sản phẩm cao cấp.</p>
        <br>
        <p>&#9679; Chăm sóc khách hàng tốt.</p>
        <br>
        <p>&#9679; Giá cả hợp túi tiền.</p>
        <br>
        <p>&#9679; Hỗ trợ sau khi khách hàng đã mua hàng.</p>
        <br>
        <p>&#9679; Giao hàng nhanh chóng.</p>
        <br>
        <br>
        <h2>3. Sản phẩm</h2>
        <br>
        <p>Tất cả sản phẩm giày, dép tại Giày Station là những mẫu giày Nike Fake 1, giày Adidas Fake 1, giày Vans Fake 1… Đều được dựa trên nguyên bản gốc của các hãng giày Nike và Adidas, giày Vans…</p>
        <br>
        <p>Về phần đế giày được làm bằng chất liệu cùng với chất liệu hàng chính hãng, nhẹ, êm và bền, thoải mái cho người đi. Với chất lượng gia công tốt, hoàn thiện chuẩn với hàng chính hãng nhằm giúp cho bạn thỏa đam mê các dòng giày cao cấp.</p>
        <br>
        <p>Độ bền của sản phẩm luôn được đảm bảo từ 12 – 18 tháng, thông tin được chính mình trải nghiệm và nhiều khách hàng sở hữu giày của shop gửi về cho mình.</p>
        <br>
        <p>Hãy để mình làm 1 phép tính đơn giản, bạn bỏ số tiền 1tr8 để mua 1 đôi giày Nike hàng chính hãng, trong khi cùng số tiền đó, bạn có thể sở hữu được từ 4 – 5 mẫu giày Nike khác nhau, với màu sắc và thiết kế khách nhau để bạn có thể thoải mái phối được với nhiều bộ đồ của mình mà không phải nhàm chán.</p>
        <br>
        <p>Chính vì thế mà Min Sneaker muốn được là người đưa đến cho các bạn nhiều mẫu giày hơn, được tiếp cận với những mẫu giày huyền thoại, hoặc những mẫu giày mới được ưa chuộng trên thế giới.</p>
        <br>
        <br>
    </div>
</section>

