
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Assets/css/tintuc.css">
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries" style="width:750px;">

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/assets/image/tintuc/tintuc_img1.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="#">Biti’s Hunter Street Bloomin’ Central x Vietmax 2021 | Sự sáng tạo tuyệt vời lấy cảm hứng từ văn hóa & giá trị Việt – Tự hào miền Trung hoa trong đá</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Nối tiếp sự thành công của 2 sản phẩm trước là Sai Gon & Hà Nội, năm nay Biti’s Hunter và nhà thiết kế Việt Max đã chọn cảm hứng từ miền Trung để đưa vào sản phẩm. Miền Trung đó – khô cằn bên ngoài lại dung chứa tinh hoa di sản; khắc nghiệt cơ cực chỉ càng làm sáng tỏ cái đẹp con người. Miền Trung đó – gợi mạch nguồn sáng tạo cho thiết kế cao cấp nhất – Bitis Hunter Street x VietMax | Bloomin’ Central, đồng hành cùng nghệ sĩ Việt Max.
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/assets/image/tintuc/tintuc_img2.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="#">Min Sneaker – Thiên đường chính hãng dành cho các tín đồ giày sneaker</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Min Sneaker là địa chỉ mua sắm các sản phẩm thời trang thể thao và đường phố uy tín tại Việt Nam, mỗi ngày có tới 10.000 khách hàng truy cập và mua sắm trên website sneakerdaily.vn. Hiện tại, Sneaker Daily chuyên cung cấp các sản phẩm thể thao chính hãng chủ yếu như giày Air Jordan, Nike, adidas, áo ADLV, áo Drew House… cho người tiêu dùng trong nước và nước ngoài. Đây là địa chỉ uy tín để các tín đồ sneaker và thời trang tìm đến để sở hữu các mặt hàng chính hãng có chất lượng tốt với mức giá phải chăng.
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/assets/image/tintuc/tintuc_img3.jpeg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="#">
                                Nike AIR FORCE 1 Love Women – Phối màu dành riêng cho một nửa thế giới
                            </a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Đôi sneakers Air Force 1 Love Women lần này được phát hành dành riêng cho phái nữ. Khi nhìn vào phần lưỡi gà, điểm đặc biệt nhất đó chính là logo The Swoosh và trái tim cùng kề cạnh như biểu hiện cho tình yêu mà thương hiệu đến từ Mỹ dành riêng cho phái nữ, một nửa quan trong của thế giới.
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/assets/image/tintuc/tintuc_img4.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="#">Travis Scott x Air Jordan 6 British Khaki – Phối màu Khaki trên nền da Suede cực đẹp mắt ra mắt vào 30/04/2021</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Travis Scott x Air Jordan 6 British Khaki sẽ chính thức được ra mắt vào ngày 30.04.2021 sắp tới đây, trùng với dịp nghỉ lễ tại Việt Nam. Phối màu Tên Kaki có nguồn gốc từ tiếng Urdu, có nghĩa là bụi hay màu đất. Vải kaki ra đời từ giữa thế kỉ 19 tại Ấn Độ. Năm 1848, vải kaki được sử dụng để may toàn bộ quân phục cho lính Anh và các quân đội khác trên toàn thế giới. “Thực chất tên khaki là tên một màu trong tiếng anh, đó là màu nâu nhạt pha với màu vàng nhạt”.
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Danh Mục</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">Converse <span>(25)</span></a></li>
                                <li><a href="#">Nike <span>(12)</span></a></li>
                                <li><a href="#">Vans <span>(5)</span></a></li>
                                <li><a href="#">Adidas <span>(22)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">

                            <div class="post-item clearfix">
                                <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                                <h4><a href="blog-single.html">Ví dụ post 1</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                                <h4><a href="blog-single.html">Ví dụ post 2</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">Sneaker</a></li>
                                <li><a href="#">Giay</a></li>
                                <li><a href="#">Giay Sneaker</a></li>
                                <li><a href="#">Vans</a></li>
                                <li><a href="#">Converse</a></li>
                                <li><a href="#">Nike</a></li>
                                <li><a href="#">Biti's</a></li>
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main>

